({:country "New Zealand", :countrycode "NZ", :currency "New Zealand Dollars", :code "NZD"}
 {:country "Cook Islands", :countrycode "CK", :currency "New Zealand Dollars", :code "NZD"}
 {:country "Niue", :countrycode "NU", :currency "New Zealand Dollars", :code "NZD"}
 {:country "Pitcairn", :countrycode "PN", :currency "New Zealand Dollars", :code "NZD"}
 {:country "Tokelau", :countrycode "TK", :currency "New Zealand Dollars", :code "NZD"}
 {:country "Australian", :countrycode "AU", :currency "Australian Dollars", :code "AUD"}
 {:country "Christmas Island", :countrycode "CX", :currency "Australian Dollars", :code "AUD"}
 {:country "Cocos (Keeling) Islands", :countrycode "CC", :currency "Australian Dollars", :code "AUD"}
 {:country "Heard and Mc Donald Islands", :countrycode "HM", :currency "Australian Dollars", :code "AUD"}
 {:country "Kiribati", :countrycode "KI", :currency "Australian Dollars", :code "AUD"}
 {:country "Nauru", :countrycode "NR", :currency "Australian Dollars", :code "AUD"}
 {:country "Norfolk Island", :countrycode "NF", :currency "Australian Dollars", :code "AUD"}
 {:country "Tuvalu", :countrycode "TV", :currency "Australian Dollars", :code "AUD"}
 {:country "American Samoa", :countrycode "AS", :currency "Euros", :code "EUR"}
 {:country "Andorra", :countrycode "AD", :currency "Euros", :code "EUR"}
 {:country "Austria", :countrycode "AT", :currency "Euros", :code "EUR"}
 {:country "Belgium", :countrycode "BE", :currency "Euros", :code "EUR"}
 {:country "Finland", :countrycode "FI", :currency "Euros", :code "EUR"}
 {:country "France", :countrycode "FR", :currency "Euros", :code "EUR"}
 {:country "French Guiana", :countrycode "GF", :currency "Euros", :code "EUR"}
 {:country "French Southern Territories", :countrycode "TF", :currency "Euros", :code "EUR"}
 {:country "Germany", :countrycode "DE", :currency "Euros", :code "EUR"}
 {:country "Greece", :countrycode "GR", :currency "Euros", :code "EUR"}
 {:country "Guadeloupe", :countrycode "GP", :currency "Euros", :code "EUR"}
 {:country "Ireland", :countrycode "IE", :currency "Euros", :code "EUR"}
 {:country "Italy", :countrycode "IT", :currency "Euros", :code "EUR"}
 {:country "Luxembourg", :countrycode "LU", :currency "Euros", :code "EUR"}
 {:country "Martinique", :countrycode "MQ", :currency "Euros", :code "EUR"}
 {:country "Mayotte", :countrycode "YT", :currency "Euros", :code "EUR"}
 {:country "Monaco", :countrycode "MC", :currency "Euros", :code "EUR"}
 {:country "Netherlands", :countrycode "NL", :currency "Euros", :code "EUR"}
 {:country "Portugal", :countrycode "PT", :currency "Euros", :code "EUR"}
 {:country "Reunion", :countrycode "RE", :currency "Euros", :code "EUR"}
 {:country "Samoa", :countrycode "WS", :currency "Euros", :code "EUR"}
 {:country "San Marino", :countrycode "SM", :currency "Euros", :code "EUR"}
 {:country "Slovenia", :countrycode "SI", :currency "Euros", :code "EUR"}
 {:country "Spain", :countrycode "ES", :currency "Euros", :code "EUR"}
 {:country "Vatican City State (Holy See)", :countrycode "VA", :currency "Euros", :code "EUR"}
 {:country "South Georgia and the South Sandwich Islands", :countrycode "GS", :currency "Sterling", :code "GBP"}
 {:country "United Kingdom", :countrycode "GB", :currency "Sterling", :code "GBP"}
 {:country "Jersey", :countrycode "JE", :currency "Sterling", :code "GBP"}
 {:country "British Indian Ocean Territory", :countrycode "IO", :currency "USD", :code "USD"}
 {:country "Guam", :countrycode "GU", :currency "USD", :code "USD"}
 {:country "Marshall Islands", :countrycode "MH", :currency "USD", :code "USD"}
 {:country "Micronesia Federated States of", :countrycode "FM", :currency "USD", :code "USD"}
 {:country "Northern Mariana Islands", :countrycode "MP", :currency "USD", :code "USD"}
 {:country "Palau", :countrycode "PW", :currency "USD", :code "USD"}
 {:country "Puerto Rico", :countrycode "PR", :currency "USD", :code "USD"}
 {:country "Turks and Caicos Islands", :countrycode "TC", :currency "USD", :code "USD"}
 {:country "United States", :countrycode "US", :currency "USD", :code "USD"}
 {:country "United States Minor Outlying Islands", :countrycode "UM", :currency "USD", :code "USD"}
 {:country "Virgin Islands (British)", :countrycode "VG", :currency "USD", :code "USD"}
 {:country "Virgin Islands (US)", :countrycode "VI", :currency "USD", :code "USD"}
 {:country "Hong Kong", :countrycode "HK", :currency "HKD", :code "HKD"}
 {:country "Canada", :countrycode "CA", :currency "Canadian Dollar", :code "CAD"}
 {:country "Japan", :countrycode "JP", :currency "Japanese Yen", :code "JPY"}
 {:country "Afghanistan", :countrycode "AF", :currency "Afghani", :code "AFN"}
 {:country "Albania", :countrycode "AL", :currency "Lek", :code "ALL"}
 {:country "Algeria", :countrycode "DZ", :currency "Algerian Dinar", :code "DZD"}
 {:country "Anguilla", :countrycode "AI", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Antigua and Barbuda", :countrycode "AG", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Dominica", :countrycode "DM", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Grenada", :countrycode "GD", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Montserrat", :countrycode "MS", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Saint Kitts", :countrycode "KN", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Saint Lucia", :countrycode "LC", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Saint Vincent Grenadines", :countrycode "VC", :currency "East Caribbean Dollar", :code "XCD"}
 {:country "Argentina", :countrycode "AR", :currency "Peso", :code "ARS"}
 {:country "Armenia", :countrycode "AM", :currency "Dram", :code "AMD"}
 {:country "Aruba", :countrycode "AW", :currency "Netherlands Antilles Guilder", :code "ANG"}
 {:country "Netherlands Antilles", :countrycode "AN", :currency "Netherlands Antilles Guilder", :code "ANG"}
 {:country "Azerbaijan", :countrycode "AZ", :currency "Manat", :code "AZN"}
 {:country "Bahamas", :countrycode "BS", :currency "Bahamian Dollar", :code "BSD"}
 {:country "Bahrain", :countrycode "BH", :currency "Bahraini Dinar", :code "BHD"}
 {:country "Bangladesh", :countrycode "BD", :currency "Taka", :code "BDT"}
 {:country "Barbados", :countrycode "BB", :currency "Barbadian Dollar", :code "BBD"}
 {:country "Belarus", :countrycode "BY", :currency "Belarus Ruble", :code "BYR"}
 {:country "Belize", :countrycode "BZ", :currency "Belizean Dollar", :code "BZD"}
 {:country "Benin", :countrycode "BJ", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Burkina Faso", :countrycode "BF", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Guinea-Bissau", :countrycode "GW", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Ivory Coast", :countrycode "CI", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Mali", :countrycode "ML", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Niger", :countrycode "NE", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Senegal", :countrycode "SN", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Togo", :countrycode "TG", :currency "CFA Franc BCEAO", :code "XOF"}
 {:country "Bermuda", :countrycode "BM", :currency "Bermudian Dollar", :code "BMD"}
 {:country "Bhutan", :countrycode "BT", :currency "Indian Rupee", :code "INR"}
 {:country "India", :countrycode "IN", :currency "Indian Rupee", :code "INR"}
 {:country "Bolivia", :countrycode "BO", :currency "Boliviano", :code "BOB"}
 {:country "Botswana", :countrycode "BW", :currency "Pula", :code "BWP"}
 {:country "Bouvet Island", :countrycode "BV", :currency "Norwegian Krone", :code "NOK"}
 {:country "Norway", :countrycode "NO", :currency "Norwegian Krone", :code "NOK"}
 {:country "Svalbard and Jan Mayen Islands", :countrycode "SJ", :currency "Norwegian Krone", :code "NOK"}
 {:country "Brazil", :countrycode "BR", :currency "Brazil", :code "BRL"}
 {:country "Brunei Darussalam", :countrycode "BN", :currency "Bruneian Dollar", :code "BND"}
 {:country "Bulgaria", :countrycode "BG", :currency "Lev", :code "BGN"}
 {:country "Burundi", :countrycode "BI", :currency "Burundi Franc", :code "BIF"}
 {:country "Cambodia", :countrycode "KH", :currency "Riel", :code "KHR"}
 {:country "Cameroon", :countrycode "CM", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Central African Republic", :countrycode "CF", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Chad", :countrycode "TD", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Congo Republic of the Democratic", :countrycode "CG", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Equatorial Guinea", :countrycode "GQ", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Gabon", :countrycode "GA", :currency "CFA Franc BEAC", :code "XAF"}
 {:country "Cape Verde", :countrycode "CV", :currency "Escudo", :code "CVE"}
 {:country "Cayman Islands", :countrycode "KY", :currency "Caymanian Dollar", :code "KYD"}
 {:country "Chile", :countrycode "CL", :currency "Chilean Peso", :code "CLP"}
 {:country "China", :countrycode "CN", :currency "Yuan Renminbi", :code "CNY"}
 {:country "Colombia", :countrycode "CO", :currency "Peso", :code "COP"}
 {:country "Comoros", :countrycode "KM", :currency "Comoran Franc", :code "KMF"}
 {:country "Congo-Brazzaville", :countrycode "CD", :currency "Congolese Frank", :code "CDF"}
 {:country "Costa Rica", :countrycode "CR", :currency "Costa Rican Colon", :code "CRC"}
 {:country "Croatia (Hrvatska)", :countrycode "HR", :currency "Croatian Dinar", :code "HRK"}
 {:country "Cuba", :countrycode "CU", :currency "Cuban Peso", :code "CUP"}
 {:country "Cyprus", :countrycode "CY", :currency "Cypriot Pound", :code "CYP"}
 {:country "Czech Republic", :countrycode "CZ", :currency "Koruna", :code "CZK"}
 {:country "Denmark", :countrycode "DK", :currency "Danish Krone", :code "DKK"}
 {:country "Faroe Islands", :countrycode "FO", :currency "Danish Krone", :code "DKK"}
 {:country "Greenland", :countrycode "GL", :currency "Danish Krone", :code "DKK"}
 {:country "Djibouti", :countrycode "DJ", :currency "Djiboutian Franc", :code "DJF"}
 {:country "Dominican Republic", :countrycode "DO", :currency "Dominican Peso", :code "DOP"}
 {:country "East Timor", :countrycode "TP", :currency "Indonesian Rupiah", :code "IDR"}
 {:country "Indonesia", :countrycode "ID", :currency "Indonesian Rupiah", :code "IDR"}
 {:country "Ecuador", :countrycode "EC", :currency "Sucre", :code "ECS"}
 {:country "Egypt", :countrycode "EG", :currency "Egyptian Pound", :code "EGP"}
 {:country "El Salvador", :countrycode "SV", :currency "Salvadoran Colon", :code "SVC"}
 {:country "Eritrea", :countrycode "ER", :currency "Ethiopian Birr", :code "ETB"}
 {:country "Ethiopia", :countrycode "ET", :currency "Ethiopian Birr", :code "ETB"}
 {:country "Estonia", :countrycode "EE", :currency "Estonian Kroon", :code "EEK"}
 {:country "Falkland Islands (Malvinas)", :countrycode "FK", :currency "Falkland Pound", :code "FKP"}
 {:country "Fiji", :countrycode "FJ", :currency "Fijian Dollar", :code "FJD"}
 {:country "French Polynesia", :countrycode "PF", :currency "CFP Franc", :code "XPF"}
 {:country "New Caledonia", :countrycode "NC", :currency "CFP Franc", :code "XPF"}
 {:country "Wallis and Futuna Islands", :countrycode "WF", :currency "CFP Franc", :code "XPF"}
 {:country "Gambia", :countrycode "GM", :currency "Dalasi", :code "GMD"}
 {:country "Georgia", :countrycode "GE", :currency "Lari", :code "GEL"}
 {:country "Gibraltar", :countrycode "GI", :currency "Gibraltar Pound", :code "GIP"}
 {:country "Guatemala", :countrycode "GT", :currency "Quetzal", :code "GTQ"}
 {:country "Guinea", :countrycode "GN", :currency "Guinean Franc", :code "GNF"}
 {:country "Guyana", :countrycode "GY", :currency "Guyanaese Dollar", :code "GYD"}
 {:country "Haiti", :countrycode "HT", :currency "Gourde", :code "HTG"}
 {:country "Honduras", :countrycode "HN", :currency "Lempira", :code "HNL"}
 {:country "Hungary", :countrycode "HU", :currency "Forint", :code "HUF"}
 {:country "Iceland", :countrycode "IS", :currency "Icelandic Krona", :code "ISK"}
 {:country "Iran (Islamic Republic of)", :countrycode "IR", :currency "Iranian Rial", :code "IRR"}
 {:country "Iraq", :countrycode "IQ", :currency "Iraqi Dinar", :code "IQD"}
 {:country "Israel", :countrycode "IL", :currency "Shekel", :code "ILS"}
 {:country "Jamaica", :countrycode "JM", :currency "Jamaican Dollar", :code "JMD"}
 {:country "Jordan", :countrycode "JO", :currency "Jordanian Dinar", :code "JOD"}
 {:country "Kazakhstan", :countrycode "KZ", :currency "Tenge", :code "KZT"}
 {:country "Kenya", :countrycode "KE", :currency "Kenyan Shilling", :code "KES"}
 {:country "Korea North", :countrycode "KP", :currency "Won", :code "KPW"}
 {:country "Korea South", :countrycode "KR", :currency "Won", :code "KRW"}
 {:country "Kuwait", :countrycode "KW", :currency "Kuwaiti Dinar", :code "KWD"}
 {:country "Kyrgyzstan", :countrycode "KG", :currency "Som", :code "KGS"}
 {:country "Lao PeopleÕs Democratic Republic", :countrycode "LA", :currency "Kip", :code "LAK"}
 {:country "Latvia", :countrycode "LV", :currency "Lat", :code "LVL"}
 {:country "Lebanon", :countrycode "LB", :currency "Lebanese Pound", :code "LBP"}
 {:country "Lesotho", :countrycode "LS", :currency "Loti", :code "LSL"}
 {:country "Liberia", :countrycode "LR", :currency "Liberian Dollar", :code "LRD"}
 {:country "Libyan Arab Jamahiriya", :countrycode "LY", :currency "Libyan Dinar", :code "LYD"}
 {:country "Liechtenstein", :countrycode "LI", :currency "Swiss Franc", :code "CHF"}
 {:country "Switzerland", :countrycode "CH", :currency "Swiss Franc", :code "CHF"}
 {:country "Lithuania", :countrycode "LT", :currency "Lita", :code "LTL"}
 {:country "Macau", :countrycode "MO", :currency "Pataca", :code "MOP"}
 {:country "Macedonia", :countrycode "MK", :currency "Denar", :code "MKD"}
 {:country "Madagascar", :countrycode "MG", :currency "Malagasy Franc", :code "MGA"}
 {:country "Malawi", :countrycode "MW", :currency "Malawian Kwacha", :code "MWK"}
 {:country "Malaysia", :countrycode "MY", :currency "Ringgit", :code "MYR"}
 {:country "Maldives", :countrycode "MV", :currency "Rufiyaa", :code "MVR"}
 {:country "Malta", :countrycode "MT", :currency "Maltese Lira", :code "MTL"}
 {:country "Mauritania", :countrycode "MR", :currency "Ouguiya", :code "MRO"}
 {:country "Mauritius", :countrycode "MU", :currency "Mauritian Rupee", :code "MUR"}
 {:country "Mexico", :countrycode "MX", :currency "Peso", :code "MXN"}
 {:country "Moldova Republic of", :countrycode "MD", :currency "Leu", :code "MDL"}
 {:country "Mongolia", :countrycode "MN", :currency "Tugrik", :code "MNT"}
 {:country "Morocco", :countrycode "MA", :currency "Dirham", :code "MAD"}
 {:country "Western Sahara", :countrycode "EH", :currency "Dirham", :code "MAD"}
 {:country "Mozambique", :countrycode "MZ", :currency "Metical", :code "MZN"}
 {:country "Myanmar", :countrycode "MM", :currency "Kyat", :code "MMK"}
 {:country "Namibia", :countrycode "NA", :currency "Dollar", :code "NAD"}
 {:country "Nepal", :countrycode "NP", :currency "Nepalese Rupee", :code "NPR"}
 {:country "Nicaragua", :countrycode "NI", :currency "Cordoba Oro", :code "NIO"}
 {:country "Nigeria", :countrycode "NG", :currency "Naira", :code "NGN"}
 {:country "Oman", :countrycode "OM", :currency "Sul Rial", :code "OMR"}
 {:country "Pakistan", :countrycode "PK", :currency "Rupee", :code "PKR"}
 {:country "Panama", :countrycode "PA", :currency "Balboa", :code "PAB"}
 {:country "Papua New Guinea", :countrycode "PG", :currency "Kina", :code "PGK"}
 {:country "Paraguay", :countrycode "PY", :currency "Guarani", :code "PYG"}
 {:country "Peru", :countrycode "PE", :currency "Nuevo Sol", :code "PEN"}
 {:country "Philippines", :countrycode "PH", :currency "Peso", :code "PHP"}
 {:country "Poland", :countrycode "PL", :currency "Zloty", :code "PLN"}
 {:country "Qatar", :countrycode "QA", :currency "Rial", :code "QAR"}
 {:country "Romania", :countrycode "RO", :currency "Leu", :code "RON"}
 {:country "Russian Federation", :countrycode "RU", :currency "Ruble", :code "RUB"}
 {:country "Rwanda", :countrycode "RW", :currency "Rwanda Franc", :code "RWF"}
 {:country "Sao Tome and Principe", :countrycode "ST", :currency "Dobra", :code "STD"}
 {:country "Saudi Arabia", :countrycode "SA", :currency "Riyal", :code "SAR"}
 {:country "Seychelles", :countrycode "SC", :currency "Rupee", :code "SCR"}
 {:country "Sierra Leone", :countrycode "SL", :currency "Leone", :code "SLL"}
 {:country "Singapore", :countrycode "SG", :currency "Dollar", :code "SGD"}
 {:country "Slovakia (Slovak Republic)", :countrycode "SK", :currency "Koruna", :code "SKK"}
 {:country "Solomon Islands", :countrycode "SB", :currency "Solomon Islands Dollar", :code "SBD"}
 {:country "Somalia", :countrycode "SO", :currency "Shilling", :code "SOS"}
 {:country "South Africa", :countrycode "ZA", :currency "Rand", :code "ZAR"}
 {:country "Sri Lanka", :countrycode "LK", :currency "Rupee", :code "LKR"}
 {:country "Sudan", :countrycode "SD", :currency "Dinar", :code "SDG"}
 {:country "Suriname", :countrycode "SR", :currency "Surinamese Guilder", :code "SRD"}
 {:country "Swaziland", :countrycode "SZ", :currency "Lilangeni", :code "SZL"}
 {:country "Sweden", :countrycode "SE", :currency "Krona", :code "SEK"}
 {:country "Syrian Arab Republic", :countrycode "SY", :currency "Syrian Pound", :code "SYP"}
 {:country "Taiwan", :countrycode "TW", :currency "Dollar", :code "TWD"}
 {:country "Tajikistan", :countrycode "TJ", :currency "Tajikistan Ruble", :code "TJS"}
 {:country "Tanzania", :countrycode "TZ", :currency "Shilling", :code "TZS"}
 {:country "Thailand", :countrycode "TH", :currency "Baht", :code "THB"}
 {:country "Tonga", :countrycode "TO", :currency "PaÕanga", :code "TOP"}
 {:country "Trinidad and Tobago", :countrycode "TT", :currency "Trinidad and Tobago Dollar", :code "TTD"}
 {:country "Tunisia", :countrycode "TN", :currency "Tunisian Dinar", :code "TND"}
 {:country "Turkey", :countrycode "TR", :currency "Lira", :code "TRY"}
 {:country "Turkmenistan", :countrycode "TM", :currency "Manat", :code "TMT"}
 {:country "Uganda", :countrycode "UG", :currency "Shilling", :code "UGX"}
 {:country "Ukraine", :countrycode "UA", :currency "Hryvnia", :code "UAH"}
 {:country "United Arab Emirates", :countrycode "AE", :currency "Dirham", :code "AED"}
 {:country "Uruguay", :countrycode "UY", :currency "Peso", :code "UYU"}
 {:country "Uzbekistan", :countrycode "UZ", :currency "Som", :code "UZS"}
 {:country "Vanuatu", :countrycode "VU", :currency "Vatu", :code "VUV"}
 {:country "Venezuela", :countrycode "VE", :currency "Bolivar", :code "VEF"}
 {:country "Vietnam", :countrycode "VN", :currency "Dong", :code "VND"}
 {:country "Yemen", :countrycode "YE", :currency "Rial", :code "YER"}
 {:country "Zambia", :countrycode "ZM", :currency "Kwacha", :code "ZMK"}
 {:country "Zimbabwe", :countrycode "ZW", :currency "Zimbabwe Dollar", :code "ZWD"}
 {:country "Aland Islands", :countrycode "AX", :currency "Euro", :code "EUR"}
 {:country "Angola", :countrycode "AO", :currency "Angolan kwanza", :code "AOA"}
 {:country "Antarctica", :countrycode "AQ", :currency "Antarctican dollar", :code "AQD"}
 {:country "Bosnia and Herzegovina", :countrycode "BA", :currency "Bosnia and Herzegovina convertible mark", :code "BAM"}
 {:country "Congo (Kinshasa)", :countrycode "CD", :currency "Congolese Frank", :code "CDF"}
 {:country "Ghana", :countrycode "GH", :currency "Ghana cedi", :code "GHS"}
 {:country "Guernsey", :countrycode "GG", :currency "Guernsey pound", :code "GGP"}
 {:country "Isle of Man", :countrycode "IM", :currency "Manx pound", :code "GBP"}
 {:country "Laos", :countrycode "LA", :currency "Lao kip", :code "LAK"}
 {:country "Macao S.A.R.", :countrycode "MO", :currency "Macanese pataca", :code "MOP"}
 {:country "Montenegro", :countrycode "ME", :currency "Euro", :code "EUR"}
 {:country "Palestinian Territory", :countrycode "PS", :currency "Jordanian dinar", :code "JOD"}
 {:country "Saint Barthelemy", :countrycode "BL", :currency "Euro", :code "EUR"}
 {:country "Saint Helena", :countrycode "SH", :currency "Saint Helena pound", :code "GBP"}
 {:country "Saint Martin (French part)", :countrycode "MF", :currency "Netherlands Antillean guilder", :code "ANG"}
 {:country "Saint Pierre and Miquelon", :countrycode "PM", :currency "Euro", :code "EUR"}
 {:country "Serbia", :countrycode "RS", :currency "Serbian dinar", :code "RSD"}
 {:country "US Armed Forces", :countrycode "USAF", :currency "US Dollar", :code "USD"})
